.row {
  margin-top: 30px;
  text-align: center;
}

.results-collection {
  margin-bottom: 20px;
  padding-right: 10%;
  padding-left: 10%;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}
