<div class="container-fluid" ng-controller="PasswordInput">
  <div class="row">
    <div class="col-sm vertical-align"></div>
    <div class="col-sm-6 vertical-align">
      <div>
        <h4 class="heading">Passwords should be strong</h4>
        <p>Computers are pretty damn good for a lot of things, but they can also be a bit of a liability.</p>
        <p>One of the best ways you can protect your data online is make sure your password is hard to crack.</p>
        <p><b>The longer and more complex it is, the longer it takes to crack.</b></p>
        <p>And despite some of the suggestions on here, it's best not to use words themselves, because they can be easily loaded from a dictionary by whatever brute-force program is being used. <b>Best practice is to use a sentence (for ease of rememberence), but only type in the first two letters of each word, for instance.</b></p>
        <p>Or, if you'd prefer to fang the responsibility off to someone else, <b>use a password manager.</b></p>
        <h6>Here are some resources, if you don't believe me:</h6>
        <ul>
          <li><a href="https://howsecureismypassword.net/" target="_blank">How Secure Is My Password?</a></li>
          <li><a href="http://www.passwordmeter.com/" target="_blank">The Password Meter</a></li>
          <li><a href="https://www.xkcd.com/936/" target="_blank">The Relevant xkcd</a></li>
          <li><a href="https://www.my1login.com/resources/password-strength-test/" target="_blank">My1Login</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm vertical-align"></div>
  </div>
</div>
<router-outlet></router-outlet>
