<div class="container-fluid" ng-controller="PasswordInput">
  <div class="row">
    <div class="col-sm vertical-align"></div>
    <div class="col-sm-6 vertical-align">
      <div>
        <h4 class="heading">About</h4>
        <h6>What?</h6>
        <p>This website will make you passwords harder to crack than, well, password123.</p>
        <h6>Why?</h6>
        <p>Ever since I can remember, it has been my dream to create an Angular 4 web app with that helps the clickbait fishing masses improve the strength of their passwords with utterly ridiculous suggestions.</p>
        <h6>No, really, why?</h6>
        <p>In my experience, lots of people have crappy passwords. I thought I'd make something to bring awareness to it. With a bit of humour.</p>
        <h6>Who?</h6>
        <p>I’m Matt. You may remember me from such websites as <a href="https://medium.com/@mattq" target="_blank">Medium</a>, <a href="https://www.itsfiveoclocksomewheregetmeabeer.com/" target="_blank">it's five o'clock somewhere</a> and <a href="https://www.matthewquerzoli.com" target="_blank">my website.</a></p>
      </div>
    </div>
    <div class="col-sm vertical-align"></div>
  </div>
</div>
<router-outlet></router-outlet>
