<div class="container-fluid" ng-controller="PasswordInput">
  <div class="row">
    <div class="col-sm vertical-align"></div>
    <div class="col-sm-6 vertical-align">
      <div>
        <h4 class="heading">About</h4>
        <h6>What?</h6>
        <p>This website will make your passwords harder to crack than, well, <i>password123</i>.</p>
        <h6>Why?</h6>
        <p>Ever since I can remember, it has been my dream to create an Angular web app with that helps the clickbait-obsessed masses improve the strength of their passwords with utterly ridiculous suggestions.</p>
        <h6>No, really, why?</h6>
        <p>In my experience, lots of people have crappy passwords. I thought I'd make something to bring awareness to it. With a bit of humour. And don't worry, I can't see any passwords you enter.</p>
        <h6>Who the bloody hell are you?</h6>
        <p>I’m Matt. You may remember me from such websites as <a href="https://medium.com/@mattq" target="_blank">Medium</a>, <a href="https://www.itsfiveoclocksomewheregetmeabeer.com/" target="_blank">It's Five O'Clock Somewhere</a> and <a href="https://www.matthewquerzoli.com" target="_blank">my website.</a></p>
        <h6>Go away.</h6>
        <p>No.</p>
      </div>
    </div>
    <div class="col-sm vertical-align"></div>
  </div>
</div>
<router-outlet></router-outlet>
