<div class="jumbotron">
  <div class="page-header">
    <h1>Get Your Password Hard 🍆</h1>
    <p>Made by <a href="https://www.matthewquerzoli.com">Matt Querzoli</a></p>
  </div>
</div>

<div class="container-fluid" ng-controller="PasswordInput">
  <div class="row">
    <div class="col-sm vertical-align">
      <h3>Enter your password:</h3>
    </div>
    <div class="col-sm-4 vertical-align">
      <div class="form-group">
        <app-password-form></app-password-form>
      </div>
    </div>
    <div class="col-sm vertical-align">
      <label>
          <meter title="strengthMeter" min="0" max="15" value="{{getPasswordLength()}}" low="4" high="12" optimum="15"></meter>
      </label>
      <p>Password: {{getPassword()}}</p>
      <p>Length: {{getPasswordLength()}}</p>
      <p>Number in List: {{getTempReasonsLength()}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p *ngFor="let reasons of getReasonsForPassword()">
        {{reasons}}
      </p>
    </div>
  </div>
</div>
