<div class="jumbotron">
  <ul class="list-inline">
    <li class="list-inline-item"><a routerLink="/" class="{{appLinkDisabled}}">App</a></li>
    <li class="list-inline-item">•</li>
    <li class="list-inline-item"><a routerLink="/about" class="{{aboutLinkDisabled}}">About</a></li>
    <li class="list-inline-item">•</li>
    <li class="list-inline-item"><a routerLink="/answers" class="{{answersLinkDisabled}}">Answers</a></li>
    <li class="list-inline-item">•</li>
    <li class="list-inline-item"><a routerLink="/info" class="{{infoLinkDisabled}}">But seriously...</a></li>
  </ul>
  <div class="page-header">
    <h1>Funny Password Checker 🍆</h1>
    <div class="sub-heading">
      <p>Get your password hard</p>
      <p>&nbsp; • &nbsp;</p>
      <p>Erected by <a href="https://www.matthewquerzoli.com" target="_blank">Matt Querzoli</a></p>
      <!-- <p>  </p> -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>
