input {
    width: 100%;
}
.container-fluid {
  margin-top: 30px;
}

.row {
  margin-top: 30px;
  text-align: center;
}

h3 {
  text-align: right;
  margin-bottom: 0;
}

p {
  margin: 0px;
}

.form-group{
  margin-bottom: 0;
  vertical-align: middle;
}

meter {
  width: 300px;
  height: 15px;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 3px;
}

meter::-webkit-meter-optimum-value {
    background: #2ECC40;
}
meter::-webkit-meter-suboptimum-value {
    background: #FFE22E;
}
meter::-webkit-meter-even-less-good-value {
    background: #FF4136;
}

.results-collection {
  margin-bottom: 20px;
}
