<div class="container-fluid" ng-controller="PasswordInput">
  <div class="row">
    <div class="col-sm vertical-align">
      <h3>Enter your password:</h3>
    </div>
    <div class="col-sm-4 vertical-align">
      <div class="form-group">
        <app-password-form></app-password-form>
      </div>
    </div>
    <div class="col-sm vertical-align">
      <label>
          <meter title="strengthMeter" min="0" max="{{strengthListLength}}" value="{{getPasswordStrength()}}" low="12" high="22"></meter>
      </label>
      <div class="encouragment">
        <p>Your password is {{getPasswordLength()}} {{getCharactersString()}} long.</p>
        <p><i>{{getEncouragement()}}</i></p>
      </div>
    </div>
  </div>
  <div class="row results-collection">
    <div class="col">
      <div *ngFor="let reasons of getReasonsForPassword(); let i = index">
        <p *ngIf="i < 9">
          {{reasons}}
        </p>
      </div>
      <!-- <p *ngFor="let reasons of getReasonsForPassword()">
        {{reasons}}
      </p> -->
    </div>
  </div>
</div>
<router-outlet></router-outlet>
