<div class="container-fluid" ng-controller="PasswordInput">
  <div class="row">
    <div class="col-md-4 col-sm-10 vertical-align instructions">
      <h5>Enter a typical password you use</h5>
      <p>Then add the suggestions below to improve your password strength.</p>
    </div>
    <div class="col-md-4 col-sm-10 vertical-align">
      <div class="form-group">
        <app-password-form></app-password-form>
      </div>
    </div>
    <div class="col-md-4 col-sm-10 vertical-align">
      <label>
          <meter title="strengthMeter" min="0" low="11" high="21" optimum="26" max="{{strengthListLength}}" value="{{getPasswordStrength()}}" ></meter>
      </label>
      <div class="encouragment">
        <p>Your password is {{getPasswordLength()}} {{getCharactersString()}} long.</p>
        <p><i>{{getEncouragement()}}</i></p>
      </div>
    </div>
  </div>
  <div class="row results-collection">
    <div class="col">
      <div *ngFor="let reasons of getReasonsForPassword(); let i = index">
        <p *ngIf="i < 9">
          {{reasons}}
        </p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
